@inherits LayoutComponentBase

<center>
  <div style="padding: 5px 95px 5px 95px;">
    <table width="808" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #505d72;">
      <tr>
        <td align="left" style="border: 8px solid #fff; background-color: #ffffff">
          <table border="0" cellpadding="0" cellspacing="0" width="791" height="177"
            style="background-image: URL(img/header-bg.biden.png);">
            <tr>
              <td><a href="Index"><img src="img/spacer-clr.gif" width="400" height="177" align="left" border="0"></a></td>
              <td width="391" valign="bottom" align="center" class="rev" style=" padding-left: 75px; padding-bottom:5px;">
                <br>
                <br><img src="img/spacer-clr.gif" width="50" height="12" border="0"><br>&nbsp;
                <!-- <span class="main"><b>Downloads = Support!</b></span> -->
                <br><img src="img/spacer-clr.gif" width="50" height="12" border="0"><br>
                <img src="img/ReadAndShare_01.png" width="32" height="40" alt="" border="0">
                <a href="Print"><img src="img/ReadAndShare_02.png" width="52" height="40" alt="" border="0"></a>
                <img src="img/ReadAndShare_03.png" width="36" height="40" alt="" border="0">
                <a href="Spread"><img src="img/ReadAndShare_04.png" width="56" height="40" alt="" border="0"></a>
                <img src="img/ReadAndShare_05.png" width="22" height="37" alt="" border="0"><br>
                <!--<img src="img/spacer-clr.gif" width="50" height="1" border="0">-->
              </td>
            </tr>
          </table>

          <NavMenu/>

          <table border="0" cellpadding="0" cellspacing="0" width="791">
            <tr>
              <td valign="top"><img src="img/joe-biden.cropped.jpg" alt="" border="0"></td>
              <td valign="top"><img src="img/biden-quote2.jpg" width="536"
                height="55" alt="" border="0">
                <table border="0" cellpadding="0" cellspacing="0" width="536">
                  <tr>
                    <td class="main" style="padding: 20px;" align="left">
                      <div class="et_pb_text_inner">
                        @Body
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <div class="caption" align="center" style="padding: 10px 20px 10px 0px;">
      BidenWisdomBook.com is<br>an independent,
      grassroots effort<br>
      sponsored by individual citizens.
    </div>
  </div>
</center>  

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
