<table border="0" cellpadding="0" cellspacing="0" width="791">
  <tr>
    <td colspan="6"><img src="img/tagline.png" width="791" height="41" alt="" border="0"></td>
  </tr>
  <tr>
    <td><a href="Print" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('nav1','','img/btn-print-on.png',1);">
      <img src="img/btn-print-off.png" width="160" height="47" alt="" border="0" name="nav1"></a>
      <img src="img/spacer.gif" width="4" height="1" alt="" border="0"></td>
    <td><a href="Find" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('nav2','','img/btn-find-on.png',1);">
      <img src="img/btn-find-off.png" width="214" height="47" alt="" border="0" name="nav2"></a>
      <img src="img/spacer.gif" width="3" height="1" alt="" border="0"></td>
    <td><a href="Spread" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('nav3','','img/btn-spread-on.png',1);">
      <img src="img/btn-spread-off.png" width="109" height="47" alt="" border="0" name="nav3"></a>
      <img src="img/spacer.gif" width="3" height="1" alt="" border="0"></td>
    <td><a href="Media" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('nav4','','img/btn-media-on.png',1);">
      <img src="img/btn-media-off.png" width="83" height="47" alt="" border="0" name="nav4"></a>
      <img src="img/spacer.gif" width="3" height="1" alt="" border="0"></td>
    <td><a href="About" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('nav5','','img/btn-about-on.png',1);">
      <img src="img/btn-about-off.png" width="101" height="47" alt="" border="0" name="nav5"></a>
      <img src="img/spacer.gif" width="3" height="1" alt="" border="0"></td>
    <td><a href="Support" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('nav6','','img/btn-support-on.png',1);">
      <img src="img/btn-support-off.png" width="108" height="47" alt="" border="0" name="nav6"></a>
      <img src="img/spacer.gif" width="3" height="1" alt="" border="0"></td>
  </tr>
  <tr>
    <td colspan="6"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td>
  </tr>
</table>