@page "/About"

<PageTitle>About Us</PageTitle>

<p><span class="headline">About Us</span></p>
<span class="subhead">Just 3 People with a Common Passion</span><br/><br/>
Greetings from the bottom of our hearts!<br/><br/>

We are Eden, Jose, and Sarah, 3 American “grass-rooters”, with a vision for Joe Biden to finish the job with overwhelming support from the American people.<br/><br/>

With enough books on enough coffee tables so that every American has direct access to the words, wit, and wisdom of Joe Biden he will persuade U.S. to vote for him.<br/><br/>

By you, personally reading his positions and know what he said, when he said it and where he said it right from the President’s mouth.<br/><br/>

You’ll know the truth without filters.<br/><br/>

We look forward to a brighter tomorrow with hope in our hearts for a decent man who loves America & works for U.S. with honesty. Thank you, America.<br/><br/>

As the world has learned during the course of this campaign, Joe Biden is arguably one of the most eloquent, inspirational, and transformational leaders of our time.
Read his words and you’ll have to agree that he has delivered on most of his promises and is working hard to fulfill those still to be accomplished.
In these times of great uncertainty overseas and MAGA efforts to divide and conquer we need the steady and experienced hand of the competent President we have.
Let’s keep him.<br/><br/>

We created BidenWisdomBook.com to fill a need during this 2024 election. Americans needed access to Joe Biden’s quotes – unfiltered and undistorted – in order to make an informed decision in the voting booth.<br/><br/>

Now, informed voters will be Biden voters. Read, Download/print this book put in a binder and on your coffee table.
Print many copies and share it with friends, family and neighbors. Encourage Trump supporters in your home to read Biden’s own words in your living room or share a copy for them to take home.
Our country’s future can depend on what you do to get the President re-elected.
