@page "/Find"

<PageTitle>Find Quotes</PageTitle>

<h4 class="headline"><strong>Find Quotes on Issues You Care About</strong></h4>
<div class="subhead"><strong>Simple Instructions for using this page</strong></div>
<ol>
  <li>Click on the issues you and your fellow citizens are interested in.</li>
  <li>Then click to read Joe Biden’s quote on the topic.</li>
  <li>To create your own free coffee table book of Joe Biden quotes, check the box next to each quote you want to include in your book.</li>
  <li>Then, simply click the “Create My Book” button at the bottom of the page.</li>
  <li>Last but not least, slip your printed sheets into sheet protectors and assemble your book in a view binder. For more suggestions, check out “<a href="Spread">Spread the Words</a>“.</li>
</ol>

<h2 class="trigger">Book Cover Options</h2>
                    
Click on each of the available covers to preview them. Use your browser's print button to print the cover you want to use.<br/><br/>
<a href="documents/BookCover-ComplimentsOf.pdf" target="_blank">Color Cover - Compliments of [You!]</a> - Add your name or logo!<br><br>
<a href="documents/BookCover.pdf" target="_blank">Color Cover</a><br><br>
<a href="documents/BookCover-bw.pdf" target="_blank">Black &amp; White Cover</a><br/><br/>

<form action="Quotes" name="quote_form" method="Post" target="child" onsubmit="window.open('this.action','child','width=800,height=600,resizeable=yes,scrollbars=yes')">
  <h2 class="trigger">America's Dreams</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum213" value="213">&nbsp;<a href="javascript:go_link('Popup?ID=213',600,500);" class="quote_title">Change as the Inevitable Engine of Progress</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=213">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum10" value="10">&nbsp;<a href="javascript:go_link('Popup?ID=10',600,500);" class="quote_title">Giving Every Child a Shot</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=10">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum9" value="9">&nbsp;<a href="javascript:go_link('Popup?ID=9',600,500);" class="quote_title">Keeping the Dream Alive</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=9">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum11" value="11">&nbsp;<a href="javascript:go_link('Popup?ID=11',600,500);" class="quote_title">Our More Perfect Union</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=11">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum14" value="14">&nbsp;<a href="javascript:go_link('Popup?ID=14',600,500);" class="quote_title">Remembering How to Dream</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=14">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum15" value="15">&nbsp;<a href="javascript:go_link('Popup?ID=15',600,500);" class="quote_title">Rising Up Out of the Cynicism</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=15">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum16" value="16">&nbsp;<a href="javascript:go_link('Popup?ID=16',600,500);" class="quote_title">Shaping Our Future</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=16">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum17" value="17">&nbsp;<a href="javascript:go_link('Popup?ID=17',600,500);" class="quote_title">Shared Aspirations of Freedom</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=17">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum8" value="8">&nbsp;<a href="javascript:go_link('Popup?ID=8',600,500);" class="quote_title">Skinny Kid with a Funny Name</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=8">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum18" value="18">&nbsp;<a href="javascript:go_link('Popup?ID=18',600,500);" class="quote_title">Social and Economic Justice</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=18">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum19" value="19">&nbsp;<a href="javascript:go_link('Popup?ID=19',600,500);" class="quote_title">Something Bigger</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=19">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum20" value="20">&nbsp;<a href="javascript:go_link('Popup?ID=20',600,500);" class="quote_title">The Amazement that is America</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=20">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum21" value="21">&nbsp;<a href="javascript:go_link('Popup?ID=21',600,500);" class="quote_title">The Audacity of Hope</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=21">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum212" value="212">&nbsp;<a href="javascript:go_link('Popup?ID=212',600,500);" class="quote_title">The Desire to Reach for the Unreachable</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=212">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum22" value="22">&nbsp;<a href="javascript:go_link('Popup?ID=22',600,500);" class="quote_title">The Dreams of Our Children</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=22">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum23" value="23">&nbsp;<a href="javascript:go_link('Popup?ID=23',600,500);" class="quote_title">The Fierce Urgency of Now</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=23">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum202" value="202">&nbsp;<a href="javascript:go_link('Popup?ID=202',600,500);" class="quote_title">The Genius of Roosevelt</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=202">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum24" value="24">&nbsp;<a href="javascript:go_link('Popup?ID=24',600,500);" class="quote_title">The Hunger for Change</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=24">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum13" value="13">&nbsp;<a href="javascript:go_link('Popup?ID=13',600,500);" class="quote_title">The Pursuit of Happiness</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=13">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum25" value="25">&nbsp;<a href="javascript:go_link('Popup?ID=25',600,500);" class="quote_title">We Are the Change that We Seek</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=25">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Civil Liberties</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum27" value="27">&nbsp;<a href="javascript:go_link('Popup?ID=27',600,500);" class="quote_title">Gun Control</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=27">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Civil Rights</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum28" value="28">&nbsp;<a href="javascript:go_link('Popup?ID=28',600,500);" class="quote_title">Equal Rights for Every American</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=28">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum29" value="29">&nbsp;<a href="javascript:go_link('Popup?ID=29',600,500);" class="quote_title">Gay Marriage</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=29">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum30" value="30">&nbsp;<a href="javascript:go_link('Popup?ID=30',600,500);" class="quote_title">Strengthening America's Civil Rights</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=30">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Disabilities</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum31" value="31">&nbsp;<a href="javascript:go_link('Popup?ID=31',600,500);" class="quote_title">Empowering  Americans with Disabilities</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=31">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Diversity</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum3" value="3">&nbsp;<a href="javascript:go_link('Popup?ID=3',600,500);" class="quote_title">A Generation that We're Losing</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=3">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum4" value="4">&nbsp;<a href="javascript:go_link('Popup?ID=4',600,500);" class="quote_title">African-American Voters</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=4">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum33" value="33">&nbsp;<a href="javascript:go_link('Popup?ID=33',600,500);" class="quote_title">Celebrating Diversity and Affirming Common Bonds</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=33">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum5" value="5">&nbsp;<a href="javascript:go_link('Popup?ID=5',600,500);" class="quote_title">Communications in the African-American Community</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=5">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum6" value="6">&nbsp;<a href="javascript:go_link('Popup?ID=6',600,500);" class="quote_title">Flipping the Script</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=6">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum1" value="1">&nbsp;<a href="javascript:go_link('Popup?ID=1',600,500);" class="quote_title">Growing Up</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=1">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum35" value="35">&nbsp;<a href="javascript:go_link('Popup?ID=35',600,500);" class="quote_title">Moving Beyond Old Animosity</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=35">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum36" value="36">&nbsp;<a href="javascript:go_link('Popup?ID=36',600,500);" class="quote_title">Nondiscrimination  Laws</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=36">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum7" value="7">&nbsp;<a href="javascript:go_link('Popup?ID=7',600,500);" class="quote_title">Young African-Americans</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=7">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Education</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum47" value="47">&nbsp;<a href="javascript:go_link('Popup?ID=47',600,500);" class="quote_title">A World Class Education</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=47">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum48" value="48">&nbsp;<a href="javascript:go_link('Popup?ID=48',600,500);" class="quote_title">American Education and the Global Economy</a><br><br>
      <div class="hiddencollapsed"><a href="Display?ID=48">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum49" value="49">&nbsp;<a href="javascript:go_link('Popup?ID=49',600,500);" class="quote_title">Being Involved in Our Children's Education</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=49">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum225" value="225">&nbsp;<a href="javascript:go_link('Popup?ID=225',600,500);" class="quote_title">Bringing Down the Cost of a College Education</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=225">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum50" value="50">&nbsp;<a href="javascript:go_link('Popup?ID=50',600,500);" class="quote_title">College Loan Programs</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=50">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum51" value="51">&nbsp;<a href="javascript:go_link('Popup?ID=51',600,500);" class="quote_title">Education Reform</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=51">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum52" value="52">&nbsp;<a href="javascript:go_link('Popup?ID=52',600,500);" class="quote_title">Encouraging the Teaching Profession</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=52">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum211" value="211">&nbsp;<a href="javascript:go_link('Popup?ID=211',600,500);" class="quote_title">Giving Our Kids the Competitive Edge</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=211">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum53" value="53">&nbsp;<a href="javascript:go_link('Popup?ID=53',600,500);" class="quote_title">Global Talent</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=53">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum54" value="54">&nbsp;<a href="javascript:go_link('Popup?ID=54',600,500);" class="quote_title">Investing in Our students</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=54">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum55" value="55">&nbsp;<a href="javascript:go_link('Popup?ID=55',600,500);" class="quote_title">The Power of Education</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=55">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum56" value="56">&nbsp;<a href="javascript:go_link('Popup?ID=56',600,500);" class="quote_title">The Purpose of Arts Education</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=56">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum57" value="57">&nbsp;<a href="javascript:go_link('Popup?ID=57',600,500);" class="quote_title">The Single Most Important Factor in a Child's Achievement</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=57">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum58" value="58">&nbsp;<a href="javascript:go_link('Popup?ID=58',600,500);" class="quote_title">The Value of Community Colleges</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=58">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Energy</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum59" value="59">&nbsp;<a href="javascript:go_link('Popup?ID=59',600,500);" class="quote_title">Controlling the Energy We Use</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=59">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum60" value="60">&nbsp;<a href="javascript:go_link('Popup?ID=60',600,500);" class="quote_title">Energy Security</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=60">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum62" value="62">&nbsp;<a href="javascript:go_link('Popup?ID=62',600,500);" class="quote_title">Plan for a Clean Energy Future</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=62">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Ethics</h2>
  <div id="Quotes">
    <input    type="checkbox" name="QuoteNum63" value="63">&nbsp;<a href="javascript:go_link('Popup?ID=63',600,500);" class="quote_title">His Personal Integrity</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=63">&nbsp;</a></div>  
    <input    type="checkbox" name="QuoteNum64" value="64">&nbsp;<a href="javascript:go_link('Popup?ID=64',600,500);" class="quote_title">Plans to Change Washington</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=64">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum65" value="65">&nbsp;<a href="javascript:go_link('Popup?ID=65',600,500);" class="quote_title">Real Reform of Conflict of Interest</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=65">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Faith</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum67" value="67">&nbsp;<a href="javascript:go_link('Popup?ID=67',600,500);" class="quote_title">Being Motivated by Faith</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=67">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum71" value="71">&nbsp;<a href="javascript:go_link('Popup?ID=71',600,500);" class="quote_title">Defining Religions</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=71">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum68" value="68">&nbsp;<a href="javascript:go_link('Popup?ID=68',600,500);" class="quote_title">His Christian Journey</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=68">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum69" value="69">&nbsp;<a href="javascript:go_link('Popup?ID=69',600,500);" class="quote_title">the Bible</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=69">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum70" value="70">&nbsp;<a href="javascript:go_link('Popup?ID=70',600,500);" class="quote_title">The Power of Reason</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=70">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Family</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum72" value="72">&nbsp;<a href="javascript:go_link('Popup?ID=72',600,500);" class="quote_title">Being Present</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=72">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum73" value="73">&nbsp;<a href="javascript:go_link('Popup?ID=73',600,500);" class="quote_title">Being There for His Daughters</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=73">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum75" value="75">&nbsp;<a href="javascript:go_link('Popup?ID=75',600,500);" class="quote_title">His Delight with His Children</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=75">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum76" value="76">&nbsp;<a href="javascript:go_link('Popup?ID=76',600,500);" class="quote_title">His Name</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=76">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum77" value="77">&nbsp;<a href="javascript:go_link('Popup?ID=77',600,500);" class="quote_title">His Parents</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=77">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum196" value="196">&nbsp;<a href="javascript:go_link('Popup?ID=196',600,500);" class="quote_title">His Wife, Michelle</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=196">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum74" value="74">&nbsp;<a href="javascript:go_link('Popup?ID=74',600,500);" class="quote_title">Lessons from His Parents</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=74">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum78" value="78">&nbsp;<a href="javascript:go_link('Popup?ID=78',600,500);" class="quote_title">Working Women</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=78">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Foreign Policy</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum79" value="79">&nbsp;<a href="javascript:go_link('Popup?ID=79',600,500);" class="quote_title">A Strong and Active Foreign Policy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=79">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum80" value="80">&nbsp;<a href="javascript:go_link('Popup?ID=80',600,500);" class="quote_title">A World Without Nuclear Weapons</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=80">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum81" value="81">&nbsp;<a href="javascript:go_link('Popup?ID=81',600,500);" class="quote_title">Afghanistan and the War in Iraq</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=81">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum82" value="82">&nbsp;<a href="javascript:go_link('Popup?ID=82',600,500);" class="quote_title">Africa</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=82">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum83" value="83">&nbsp;<a href="javascript:go_link('Popup?ID=83',600,500);" class="quote_title">America's International Influence</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=83">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum85" value="85">&nbsp;<a href="javascript:go_link('Popup?ID=85',600,500);" class="quote_title">Combining Might and Diplomacy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=85">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum86" value="86">&nbsp;<a href="javascript:go_link('Popup?ID=86',600,500);" class="quote_title">Correcting our Course</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=86">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum87" value="87">&nbsp;<a href="javascript:go_link('Popup?ID=87',600,500);" class="quote_title">Ending the War in Iraq</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=87">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum88" value="88">&nbsp;<a href="javascript:go_link('Popup?ID=88',600,500);" class="quote_title">Extraordinary International Cooperation</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=88">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum89" value="89">&nbsp;<a href="javascript:go_link('Popup?ID=89',600,500);" class="quote_title">Forming a Working Coalition for Change</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=89">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum90" value="90">&nbsp;<a href="javascript:go_link('Popup?ID=90',600,500);" class="quote_title">Free and Fair Trade for All</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=90">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum91" value="91">&nbsp;<a href="javascript:go_link('Popup?ID=91',600,500);" class="quote_title">Giving Hope to Those Left Behind</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=91">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum92" value="92">&nbsp;<a href="javascript:go_link('Popup?ID=92',600,500);" class="quote_title">Giving Iraqis their Country Back</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=92">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum93" value="93">&nbsp;<a href="javascript:go_link('Popup?ID=93',600,500);" class="quote_title">His Plan to Secure America and Restore our Standing in the World</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=93">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum94" value="94">&nbsp;<a href="javascript:go_link('Popup?ID=94',600,500);" class="quote_title">Isolationism</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=94">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum95" value="95">&nbsp;<a href="javascript:go_link('Popup?ID=95',600,500);" class="quote_title">National Security</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=95">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum96" value="96">&nbsp;<a href="javascript:go_link('Popup?ID=96',600,500);" class="quote_title">Nuclear Weapon Proliferation</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=96">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum97" value="97">&nbsp;<a href="javascript:go_link('Popup?ID=97',600,500);" class="quote_title">Our Interconnected World</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=97">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum98" value="98">&nbsp;<a href="javascript:go_link('Popup?ID=98',600,500);" class="quote_title">Pakistan Policy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=98">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum99" value="99">&nbsp;<a href="javascript:go_link('Popup?ID=99',600,500);" class="quote_title">Securing Loose Nuclear Materials</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=99">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum100" value="100">&nbsp;<a href="javascript:go_link('Popup?ID=100',600,500);" class="quote_title">Tearing Down Walls</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=100">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum101" value="101">&nbsp;<a href="javascript:go_link('Popup?ID=101',600,500);" class="quote_title">The Habeas Corpus Amendment</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=101">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum102" value="102">&nbsp;<a href="javascript:go_link('Popup?ID=102',600,500);" class="quote_title">The Strategic Consequences of the War in Iraq</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=102">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum103" value="103">&nbsp;<a href="javascript:go_link('Popup?ID=103',600,500);" class="quote_title">U.S. Relations with China</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=103">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum104" value="104">&nbsp;<a href="javascript:go_link('Popup?ID=104',600,500);" class="quote_title">Universal Human Aspirations</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=104">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum105" value="105">&nbsp;<a href="javascript:go_link('Popup?ID=105',600,500);" class="quote_title">Using Oil as a Weapon</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=105">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Governance</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum106" value="106">&nbsp;<a href="javascript:go_link('Popup?ID=106',600,500);" class="quote_title">Government's Role</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=106">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum107" value="107">&nbsp;<a href="javascript:go_link('Popup?ID=107',600,500);" class="quote_title">Strengthening the Bonds of Trust</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=107">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum108" value="108">&nbsp;<a href="javascript:go_link('Popup?ID=108',600,500);" class="quote_title">Sunshine as a Disinfectant in Washington</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=108">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum109" value="109">&nbsp;<a href="javascript:go_link('Popup?ID=109',600,500);" class="quote_title">The Lack of Accountability in Washington</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=109">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum110" value="110">&nbsp;<a href="javascript:go_link('Popup?ID=110',600,500);" class="quote_title">The Need for Transparency</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=110">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Health</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum111" value="111">&nbsp;<a href="javascript:go_link('Popup?ID=111',600,500);" class="quote_title">Being Tested by the AIDS Crisis</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=111">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum112" value="112">&nbsp;<a href="javascript:go_link('Popup?ID=112',600,500);" class="quote_title">The Prevention of AIDS</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=112">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Health Care</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum113" value="113">&nbsp;<a href="javascript:go_link('Popup?ID=113',600,500);" class="quote_title">His Plan for a Healthy America</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=113">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Homeland Security</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum114" value="114">&nbsp;<a href="javascript:go_link('Popup?ID=114',600,500);" class="quote_title">Cyber Security</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=114">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum115" value="115">&nbsp;<a href="javascript:go_link('Popup?ID=115',600,500);" class="quote_title">Finishing the Fight</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=115">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum117" value="117">&nbsp;<a href="javascript:go_link('Popup?ID=117',600,500);" class="quote_title">The War on Terror</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=117">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum118" value="118">&nbsp;<a href="javascript:go_link('Popup?ID=118',600,500);" class="quote_title">Updating Our National Security Strategy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=118">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum119" value="119">&nbsp;<a href="javascript:go_link('Popup?ID=119',600,500);" class="quote_title">Using Fear as a Political Tool</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=119">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Humor</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum120" value="120">&nbsp;<a href="javascript:go_link('Popup?ID=120',600,500);" class="quote_title">Being Cooked</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=120">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum121" value="121">&nbsp;<a href="javascript:go_link('Popup?ID=121',600,500);" class="quote_title">Being Overexposed</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=121">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum122" value="122">&nbsp;<a href="javascript:go_link('Popup?ID=122',600,500);" class="quote_title">Fads</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=122">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum123" value="123">&nbsp;<a href="javascript:go_link('Popup?ID=123',600,500);" class="quote_title">Fifteen Minutes of Fame</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=123">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum128" value="128">&nbsp;<a href="javascript:go_link('Popup?ID=128',600,500);" class="quote_title">His Past Marijuana Use and President Clinton's Famous Excuse</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=128">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum124" value="124">&nbsp;<a href="javascript:go_link('Popup?ID=124',600,500);" class="quote_title">Nicknames</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=124">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum125" value="125">&nbsp;<a href="javascript:go_link('Popup?ID=125',600,500);" class="quote_title">Revelations that he and Dick Cheney are eighth cousins</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=125">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum126" value="126">&nbsp;<a href="javascript:go_link('Popup?ID=126',600,500);" class="quote_title">The Hype</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=126">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum127" value="127">&nbsp;<a href="javascript:go_link('Popup?ID=127',600,500);" class="quote_title">Whether Bill Clinton was 'our first black president'</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=127">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Immigration</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum129" value="129">&nbsp;<a href="javascript:go_link('Popup?ID=129',600,500);" class="quote_title">Dreams and Borders</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=129">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum130" value="130">&nbsp;<a href="javascript:go_link('Popup?ID=130',600,500);" class="quote_title">Our Broken Immigration System</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=130">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Labor, Trade, and the Economy</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum220" value="220">&nbsp;<a href="javascript:go_link('Popup?ID=220',600,500);" class="quote_title">A National Infrastructure Reinvestment Bank</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=220">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum216" value="216">&nbsp;<a href="javascript:go_link('Popup?ID=216',600,500);" class="quote_title">A System that Works for Main Street</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=216">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum222" value="222">&nbsp;<a href="javascript:go_link('Popup?ID=222',600,500);" class="quote_title">A Tax Code that is Simple, Fair, and Advances Opportunity</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=222">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum207" value="207">&nbsp;<a href="javascript:go_link('Popup?ID=207',600,500);" class="quote_title">Ensuring Lifetime Employability in this New Economy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=207">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum218" value="218">&nbsp;<a href="javascript:go_link('Popup?ID=218',600,500);" class="quote_title">Fair Trade Deals</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=218">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum37" value="37">&nbsp;<a href="javascript:go_link('Popup?ID=37',600,500);" class="quote_title">Globalization</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=37">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum208" value="208">&nbsp;<a href="javascript:go_link('Popup?ID=208',600,500);" class="quote_title">Healthcare and Pensions</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=208">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum226" value="226">&nbsp;<a href="javascript:go_link('Popup?ID=226',600,500);" class="quote_title">His Belief in Unions</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=226">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum38" value="38">&nbsp;<a href="javascript:go_link('Popup?ID=38',600,500);" class="quote_title">His Plan to Stimulate Urban Prosperity</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=38">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum39" value="39">&nbsp;<a href="javascript:go_link('Popup?ID=39',600,500);" class="quote_title">Investing in America</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=39">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum40" value="40">&nbsp;<a href="javascript:go_link('Popup?ID=40',600,500);" class="quote_title">Investing in Ourselves</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=40">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum223" value="223">&nbsp;<a href="javascript:go_link('Popup?ID=223',600,500);" class="quote_title">Minimum Wage</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=223">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum228" value="228">&nbsp;<a href="javascript:go_link('Popup?ID=228',600,500);" class="quote_title">Playing Offense for Organized Labor</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=228">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum229" value="229">&nbsp;<a href="javascript:go_link('Popup?ID=229',600,500);" class="quote_title">Putting the American Worker in a Stronger Position</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=229">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum221" value="221">&nbsp;<a href="javascript:go_link('Popup?ID=221',600,500);" class="quote_title">Real Change that Will Make a Real Difference</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=221">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum41" value="41">&nbsp;<a href="javascript:go_link('Popup?ID=41',600,500);" class="quote_title">Recommitting Ourselves to the Dream</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=41">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum201" value="201">&nbsp;<a href="javascript:go_link('Popup?ID=201',600,500);" class="quote_title">Reforming our Bankruptcy Code</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=201">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum42" value="42">&nbsp;<a href="javascript:go_link('Popup?ID=42',600,500);" class="quote_title">Restoring Fairness</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=42">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum43" value="43">&nbsp;<a href="javascript:go_link('Popup?ID=43',600,500);" class="quote_title">Restoring Fiscal Discipline</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=43">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum131" value="131">&nbsp;<a href="javascript:go_link('Popup?ID=131',600,500);" class="quote_title">Social Darwinism</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=131">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum230" value="230">&nbsp;<a href="javascript:go_link('Popup?ID=230',600,500);" class="quote_title">Standing Together</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=230">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum45" value="45">&nbsp;<a href="javascript:go_link('Popup?ID=45',600,500);" class="quote_title">Strengthening the Economy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=45">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum227" value="227">&nbsp;<a href="javascript:go_link('Popup?ID=227',600,500);" class="quote_title">The Department of Labor</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=227">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum219" value="219">&nbsp;<a href="javascript:go_link('Popup?ID=219',600,500);" class="quote_title">The Employee Free Choice Act</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=219">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum217" value="217">&nbsp;<a href="javascript:go_link('Popup?ID=217',600,500);" class="quote_title">The Fight for Real Change</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=217">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum199" value="199">&nbsp;<a href="javascript:go_link('Popup?ID=199',600,500);" class="quote_title">The Issue of Bankruptcy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=199">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum205" value="205">&nbsp;<a href="javascript:go_link('Popup?ID=205',600,500);" class="quote_title">The Labor Movement</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=205">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum206" value="206">&nbsp;<a href="javascript:go_link('Popup?ID=206',600,500);" class="quote_title">The Need for a Strong Labor Movement</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=206">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum224" value="224">&nbsp;<a href="javascript:go_link('Popup?ID=224',600,500);" class="quote_title">The Patriot Employer Act</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=224">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum209" value="209">&nbsp;<a href="javascript:go_link('Popup?ID=209',600,500);" class="quote_title">The Real Job of Organizing Working America</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=209">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum46" value="46">&nbsp;<a href="javascript:go_link('Popup?ID=46',600,500);" class="quote_title">True Energy Security</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=46">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum44" value="44">&nbsp;<a href="javascript:go_link('Popup?ID=44',600,500);" class="quote_title">Worker Retraining Strategy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=44">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum200" value="200">&nbsp;<a href="javascript:go_link('Popup?ID=200',600,500);" class="quote_title">Your Circumstance Should Be No Limit</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=200">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Politics and the Presidency</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum133" value="133">&nbsp;<a href="javascript:go_link('Popup?ID=133',600,500);" class="quote_title">Being a Reformist</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=133">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum134" value="134">&nbsp;<a href="javascript:go_link('Popup?ID=134',600,500);" class="quote_title">Choosing Your Candidate</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=134">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum135" value="135">&nbsp;<a href="javascript:go_link('Popup?ID=135',600,500);" class="quote_title">Communicating with Different Audiences</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=135">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum136" value="136">&nbsp;<a href="javascript:go_link('Popup?ID=136',600,500);" class="quote_title">Connecting With People</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=136">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum137" value="137">&nbsp;<a href="javascript:go_link('Popup?ID=137',600,500);" class="quote_title">Conservative-Liberal Sharp Divisions</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=137">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum138" value="138">&nbsp;<a href="javascript:go_link('Popup?ID=138',600,500);" class="quote_title">Earning back the Trust</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=138">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum139" value="139">&nbsp;<a href="javascript:go_link('Popup?ID=139',600,500);" class="quote_title">Experience</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=139">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum140" value="140">&nbsp;<a href="javascript:go_link('Popup?ID=140',600,500);" class="quote_title">Hillary Clinton</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=140">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum142" value="142">&nbsp;<a href="javascript:go_link('Popup?ID=142',600,500);" class="quote_title">His Decision to Run for President</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=142">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum143" value="143">&nbsp;<a href="javascript:go_link('Popup?ID=143',600,500);" class="quote_title">His Decision-Making Process</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=143">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum144" value="144">&nbsp;<a href="javascript:go_link('Popup?ID=144',600,500);" class="quote_title">His Feelings about the Democratic Party</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=144">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum145" value="145">&nbsp;<a href="javascript:go_link('Popup?ID=145',600,500);" class="quote_title">His Job</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=145">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum146" value="146">&nbsp;<a href="javascript:go_link('Popup?ID=146',600,500);" class="quote_title">How He Came to Seek the Presidency</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=146">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum147" value="147">&nbsp;<a href="javascript:go_link('Popup?ID=147',600,500);" class="quote_title">How He Handles Issues</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=147">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum148" value="148">&nbsp;<a href="javascript:go_link('Popup?ID=148',600,500);" class="quote_title">Lobbyists in Washington</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=148">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum150" value="150">&nbsp;<a href="javascript:go_link('Popup?ID=150',600,500);" class="quote_title">Not Getting Things Done in Washington</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=150">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum214" value="214">&nbsp;<a href="javascript:go_link('Popup?ID=214',600,500);" class="quote_title">Not Settling Anymore</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=214">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum151" value="151">&nbsp;<a href="javascript:go_link('Popup?ID=151',600,500);" class="quote_title">Our Celebrity Culture</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=151">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum152" value="152">&nbsp;<a href="javascript:go_link('Popup?ID=152',600,500);" class="quote_title">Political Labels</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=152">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum153" value="153">&nbsp;<a href="javascript:go_link('Popup?ID=153',600,500);" class="quote_title">Predicting the McCain Campaign</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=153">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum154" value="154">&nbsp;<a href="javascript:go_link('Popup?ID=154',600,500);" class="quote_title">Recognizing Ourselves in Each Other</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=154">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum155" value="155">&nbsp;<a href="javascript:go_link('Popup?ID=155',600,500);" class="quote_title">Saying What He Thinks</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=155">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum156" value="156">&nbsp;<a href="javascript:go_link('Popup?ID=156',600,500);" class="quote_title">Small-Minded Politics</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=156">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum157" value="157">&nbsp;<a href="javascript:go_link('Popup?ID=157',600,500);" class="quote_title">Smart Government</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=157">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum158" value="158">&nbsp;<a href="javascript:go_link('Popup?ID=158',600,500);" class="quote_title">Teaching Constitutional Law</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=158">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum159" value="159">&nbsp;<a href="javascript:go_link('Popup?ID=159',600,500);" class="quote_title">The Experience Question</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=159">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum160" value="160">&nbsp;<a href="javascript:go_link('Popup?ID=160',600,500);" class="quote_title">The Mission of Politics</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=160">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum162" value="162">&nbsp;<a href="javascript:go_link('Popup?ID=162',600,500);" class="quote_title">The Politics of Divide and Conquer</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=162">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum163" value="163">&nbsp;<a href="javascript:go_link('Popup?ID=163',600,500);" class="quote_title">The Power of Presidential Honesty</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=163">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum164" value="164">&nbsp;<a href="javascript:go_link('Popup?ID=164',600,500);" class="quote_title">The Reality of Political Factions</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=164">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum165" value="165">&nbsp;<a href="javascript:go_link('Popup?ID=165',600,500);" class="quote_title">The Red- and Blue-State Phenomenon</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=165">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum166" value="166">&nbsp;<a href="javascript:go_link('Popup?ID=166',600,500);" class="quote_title">The Role of the Media</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=166">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum167" value="167">&nbsp;<a href="javascript:go_link('Popup?ID=167',600,500);" class="quote_title">The Smallness of Our Politics</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=167">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum168" value="168">&nbsp;<a href="javascript:go_link('Popup?ID=168',600,500);" class="quote_title">The Surplus of Conflict in Politics</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=168">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum169" value="169">&nbsp;<a href="javascript:go_link('Popup?ID=169',600,500);" class="quote_title">What Washington Needs</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=169">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum170" value="170">&nbsp;<a href="javascript:go_link('Popup?ID=170',600,500);" class="quote_title">What Works</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=170">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum171" value="171">&nbsp;<a href="javascript:go_link('Popup?ID=171',600,500);" class="quote_title">What's Worked for Him</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=171">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum215" value="215">&nbsp;<a href="javascript:go_link('Popup?ID=215',600,500);" class="quote_title">Who the Democratic Party Is</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=215">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum195" value="195">&nbsp;<a href="javascript:go_link('Popup?ID=195',600,500);" class="quote_title">Women Make the Difference</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=195">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Rural America</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum172" value="172">&nbsp;<a href="javascript:go_link('Popup?ID=172',600,500);" class="quote_title">Supporting  Rural Communities</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=172">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Service and Social Responsibility</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum173" value="173">&nbsp;<a href="javascript:go_link('Popup?ID=173',600,500);" class="quote_title">Being Useful to Society</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=173">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum174" value="174">&nbsp;<a href="javascript:go_link('Popup?ID=174',600,500);" class="quote_title">Desperation &amp; Disorder in the World</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=174">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum175" value="175">&nbsp;<a href="javascript:go_link('Popup?ID=175',600,500);" class="quote_title">His Plan for Universal Voluntary Public Service</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=175">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum176" value="176">&nbsp;<a href="javascript:go_link('Popup?ID=176',600,500);" class="quote_title">Lifting Up This Country</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=176">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum177" value="177">&nbsp;<a href="javascript:go_link('Popup?ID=177',600,500);" class="quote_title">Paying Attention</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=177">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum178" value="178">&nbsp;<a href="javascript:go_link('Popup?ID=178',600,500);" class="quote_title">The Motivation for His Work</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=178">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Social Security and Retirement</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum179" value="179">&nbsp;<a href="javascript:go_link('Popup?ID=179',600,500);" class="quote_title">His Plan to Strengthen Retirement Security</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=179">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum204" value="204">&nbsp;<a href="javascript:go_link('Popup?ID=204',600,500);" class="quote_title">Social Insurance</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=204">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum203" value="203">&nbsp;<a href="javascript:go_link('Popup?ID=203',600,500);" class="quote_title">The Debate over Social Security</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=203">&nbsp;</a></div>
      </div><h2 class="trigger">Technology and Innovation</h2><div id="Quotes">
    <input type="checkbox" name="QuoteNum180" value="180">&nbsp;<a href="javascript:go_link('Popup?ID=180',600,500);" class="quote_title">Blogging and Conversation</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=180">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum181" value="181">&nbsp;<a href="javascript:go_link('Popup?ID=181',600,500);" class="quote_title">Investing in Research</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=181">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum182" value="182">&nbsp;<a href="javascript:go_link('Popup?ID=182',600,500);" class="quote_title">Net Neutrality</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=182">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum183" value="183">&nbsp;<a href="javascript:go_link('Popup?ID=183',600,500);" class="quote_title">Technology and Innovation for a New Generation</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=183">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum210" value="210">&nbsp;<a href="javascript:go_link('Popup?ID=210',600,500);" class="quote_title">The Next Technological Revolution</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=210">&nbsp;</a></div>
  </div>
  <h2 class="trigger">The Environment</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum184" value="184">&nbsp;<a href="javascript:go_link('Popup?ID=184',600,500);" class="quote_title">Charting a New Course on Energy</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=184">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum185" value="185">&nbsp;<a href="javascript:go_link('Popup?ID=185',600,500);" class="quote_title">Health Care for Hybrids</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=185">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum186" value="186">&nbsp;<a href="javascript:go_link('Popup?ID=186',600,500);" class="quote_title">Real Energy Independence</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=186">&nbsp;</a></div>
  </div>
  <h2 class="trigger">The Military</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum187" value="187">&nbsp;<a href="javascript:go_link('Popup?ID=187',600,500);" class="quote_title">A 21st Century Military for America</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=187">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum189" value="189">&nbsp;<a href="javascript:go_link('Popup?ID=189',600,500);" class="quote_title">Taking Care of Those Who Serve</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=189">&nbsp;</a></div>
  </div>
  <h2 class="trigger">The War in Iraq</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum190" value="190">&nbsp;<a href="javascript:go_link('Popup?ID=190',600,500);" class="quote_title">Ending the War in Iraq</a><br><br>
    <div class="hiddencollapsed"><a href="Display?ID=190">&nbsp;</a></div>
  </div>
  <h2 class="trigger">Women's Rights</h2>
  <div id="Quotes">
    <input type="checkbox" name="QuoteNum193" value="193">&nbsp;<a href="javascript:go_link('Popup?ID=193',600,500);" class="quote_title">Ordinary Women, Extraordinary Odds</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=193">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum192" value="192">&nbsp;<a href="javascript:go_link('Popup?ID=192',600,500);" class="quote_title">Our Daughters and Sons</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=192">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum197" value="197">&nbsp;<a href="javascript:go_link('Popup?ID=197',600,500);" class="quote_title">The Clear Choice</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=197">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum198" value="198">&nbsp;<a href="javascript:go_link('Popup?ID=198',600,500);" class="quote_title">Working with Senator Clinton</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=198">&nbsp;</a></div>
    <input type="checkbox" name="QuoteNum194" value="194">&nbsp;<a href="javascript:go_link('Popup?ID=194',600,500);" class="quote_title">Working Women</a><br/><br/>
      <div class="hiddencollapsed"><a href="Display?ID=194">&nbsp;</a></div>
  </div>
  <center>
    <a href="javascript:document.quote_form.submit()" onmouseover="document.quote_form.sub_but.src='/img/btn_create-on.png'" onmouseout="document.quote_form.sub_but.src='/img/btn_create-off.png'" onclick="return val_form_this_page()">
      <img src="/img/btn_create-off.jpg" name="sub_but" width="196" height="27" alt="" border="0">
    </a>
    <br><br>
    <input type="reset" style="border: 1px solid #03336E; background-color:#fff;" value="RESET (Clear All Checkboxes)" class="caption">
  </center>
</form>
