@page "/Media"

<PageTitle>Media</PageTitle>

<h4><strong><span class="headline">Media Resources</span></strong><span></span><span class="subhead"></span></h4>
<p><strong>In the News</strong></p>
<p><a href="http://www.notineta.com/articulo.php?id=527" target="_blank" rel="noopener">NotiNeta</a><span>&nbsp;(in Spanish) Also available as a&nbsp;</span><a href="https://web.archive.org/web/20090227080027/http://www.obamawisdombook.com/media/NotiNetaArticle.pdf" target="_blank" rel="noopener">PDF</a><span>.</span></p>
<p><a href="http://www.gtbv.ro/?page=articol&amp;id=15346&amp;numar=&amp;cat=7" target="_blank" rel="noopener">Gazeta de Transilvania</a><span>&nbsp;(in Romanian)</span></p>
<p><span>11/3/2008 —&nbsp;</span><a href="http://www.gandul.info/lumea/lovituri-republicane-sub-centura-calvarul-ultimelor-zile-de-campanie.html?3929;3418159" target="_blank" rel="noopener">Gandul</a><span>&nbsp;(in Romanian)</span></p>
<p><span>11/2/2008 —&nbsp;</span><a href="http://www.vodafonelive.de/cp/cache/offonce/pid/11?vf_partnerUrl=article176883.xml" target="_blank" rel="noopener">Vodafone</a><span>&nbsp;(in German)</span></p>
<p><span>11/1/2008 —&nbsp;</span><a href="http://de.news.yahoo.com/2/20081102/tts-elsalvador-usa-wahlen-praesident-leu-c1b2fc3.html" target="_blank" rel="noopener">Yahoo! Germany</a><span>&nbsp;(in German)</span></p>
<p><span>10/31/2008 —&nbsp;</span><a href="http://www.univision.com/contentroot/wirefeeds/world/7642421.html" target="_blank" rel="noopener">Univision.com</a><span>&nbsp;(in Spanish)</span></p>
<p><span>10/27/2008 —&nbsp;</span><a href="http://translate.google.com/translate?u=http%3A%2F%2Fwww.eluniversal.com.mx%2Finternacional%2F59392.html&amp;hl=en&amp;ie=UTF-8&amp;sl=es&amp;tl=en" target="_blank" rel="noopener">El Universal – El Mundo</a><span>&nbsp;(translated from Spanish)</span></p>
<p><span>10/27/2008 —&nbsp;</span><a href="http://www.bbc.co.uk/spanish/specials/1734_081027_mundousa/page2.shtml" target="_blank" rel="noopener">BBCMundo.com</a><span>&nbsp;(in Spanish)</span></p>
<p><span>10/8/2008 —&nbsp;</span><a href="http://www.johnconyers.com/node/255" target="_blank" rel="noopener">Congressman John Conyers’ Blog</a><span></span></p>
<p><span>8/31/2008 —&nbsp;</span><a href="http://piersonsrockyadventure.blogspot.com/" target="_blank" rel="noopener">Piersons Rocky Adventure Blog</a><span></span></p>
<p><span>8/28/2008 —&nbsp;</span><a href="http://www.cbc.ca/world/usvotes/story/2008/08/28/f-rfa-macdonald.html" target="_blank" rel="noopener">CBCNews.ca</a><span></span></p>
<p><span>8/28/2008 —&nbsp;</span><a href="http://minnesota.publicradio.org/collections/special/columns/news_cut/archive/2008/08/denver_diaries_the_state_fair.shtml" target="_blank" rel="noopener">Minnesota Public Radio</a><span></span></p>
<p><span>8/26/2008 —&nbsp;</span><a href="http://www.docudharma.com/showDiary.do?diaryId=8666" target="_blank" rel="noopener">Do the Dog a favor</a><span>&nbsp;and throw this guy a bone, go and check it out</span></p>
<p><span>8/26/2008 —&nbsp;</span><a href="http://news.cnet.com/2300-1028_3-6246077-4.html" target="_blank" rel="noopener">cNet.com Photo of Art and the Book</a><span></span></p>
<p><span>8/24/2008 —&nbsp;</span><a href="http://www.youtube.com/watch?v=Oy5CL-3azw4" target="_blank" rel="noopener">Video Clip of Art</a><span>&nbsp;(Thanks&nbsp;</span><a href="https://web.archive.org/web/20090227080027/http://www.rumromanismrebellion.net/2008/08/24/placido-domingo/" target="_blank" rel="noopener">Tedski</a><span>!)</span></p>
<p><span>8/19/2008 —&nbsp;</span><a href="http://www.usatoday.com/printedition/news/20080819/a_eline19.art.htm" target="_blank" rel="noopener">USA Today</a><span></span></p>
<p><span>8/18/2008 —&nbsp;</span><a href="http://blogs.usatoday.com/onpolitics/2008/08/obama-fans-star.html" target="_blank" rel="noopener">USA Today blog</a><span></span></p>
<p><span>8/15/2008 —&nbsp;</span><a href="http://blogs.rockymountainnews.com/dnc_conventional_wisdom/archives/2008/08/because-the-world-needs-more-c.html" target="_blank" rel="noopener">Rocky Mountain News blog</a><span></span><span class="subhead"></span></p>
<p>Press Releases<span></span></p>
<p><span>9/19/2008 —&nbsp;</span><a href="docs/QuotesMeanVotes.pdf" target="_blank" rel="noopener">Quotes Mean Votes? You Tell Me…</a><span></span><span class="subhead"></span></p>
<p>Images<span></span></p>

<table cellpadding="10px" cellspacing="0" border="0" width="100%">
  <tbody>
    <tr>
      <td class="main" align="center" valign="bottom"><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Binder.jpg" target="_blank" title="Book Photo - JPG" rel="noopener"><img loading="lazy" decoding="async" src="./Media _ BidenWisdomBook_files/Binder-thumb.jpg" width="150" height="169" alt="" border="0"></a><br><a href="img/media/Biden89WordsWeCanBelieveInBook.com%20Binder.jpg" target="_blank" title="Binder Photo - JPG" rel="noopener">Book Photo</a>:<br>1.5MB (JPG)</td>
      <td class="main" align="center" valign="bottom"><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Cover%20Art.jpg" target="_blank" title="Book Cover Art - JPG" rel="noopener"><img loading="lazy" decoding="async" src="./Media _ BidenWisdomBook_files/Cover-thumb.jpg" width="150" height="193" alt="" border="0"></a><br><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Cover%20Art.jpg" target="_blank" title="Book Cover Art - JPG" rel="noopener">Book Cover Art</a>:<br>less than 1MB (JPG)</td>
    </tr>
    <tr>
      <td class="main" align="center" valign="bottom"><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Logo%20with%20URL.png" target="_blank" title="" o="" logo="" with="" url="" png="" rel="noopener"><img loading="lazy" decoding="async" src="./Media _ BidenWisdomBook_files/Logo-thumb.jpg" width="150" height="140" alt="" border="0"></a><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Logo%20with%20URL.png" target="_blank" title="" o="" logo="" with="" url="" png="" rel="noopener"><br>“O” Logo with URL</a>:<br>less than 1MB (PNG)</td>
      <td class="main" align="center" valign="bottom"><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Tagline.png" target="_blank" title="Tagline - PNG" rel="noopener"><img loading="lazy" decoding="async" src="./Media _ BidenWisdomBook_files/Tagline-thumb.jpg" width="150" height="79" alt="" border="0"></a><br><a href="img/media/BidenWordsWeCanBelieveInBook.com%20Tagline.png" target="_blank" title="Tagline - PNG" rel="noopener">Tagline</a>:<br>less than 1MB (PNG)</td>
    </tr>
  </tbody>
</table>

