@page "/Print"

<PageTitle>Print</PageTitle>

<p><span class="headline">Print Your Free Book Now!</span><span></span><span class="subhead"></span></p>
<p>Choose Your Book<span></span></p>
<ol>
  <ol>
    <ol>
      <li><b>FREE! Download the complete “Words We Can Believe In” </b>book&nbsp;of Joe Biden quotes in PDF format. You don’t need to provide your name, your email address, or anything else to get the book. Just click and it’s yours! Choose from the:</li>
      <ul>
        <li><a href="/docs/Top30CoffeTableBook.pdf">“In a Nutshell” – The 30 Most Popular Quotes</a><span>&nbsp;</span><span class="caption">(multiple quotes per page; 15 pages; 1.1MB)</span></li>
      </ul>
    </ol>
  </ol>
</ol>
<p>or</p>
<ol>
  <ol>
    <ol>
      <ul>
        <li><a href="/docs/GreenCoffeTableBook.pdf">“Green” Coffee Table Book</a><span>&nbsp;</span><span class="caption">(multiple quotes per page; 62 pages; 1.3MB)</span></li>
      </ul>
    </ol>
  </ol>
</ol>
<p>or</p>
<ol>
  <ol>
    <ul>
      <li><a href="/docs/CoffeTableBook.pdf">Coffee Table Book</a><span>&nbsp;</span><span class="caption">(1 quote per page; 223 pages; 1.5MB)</span></li>
    </ul>
  </ol>
</ol>
<p><span class="caption">(Requires the free Adobe Reader. If you can’t open the PDF, you can<span>&nbsp;</span><a href="http://get.adobe.com/reader" target="_blank" title="Get Adobe Reader" rel="noopener">download Adobe Reader here</a>.)</span></p>
<p>&nbsp;</p>
<ol>
  <li><b>FREE!<span>&nbsp;</span><a href="/Find">Customize your own free coffee table book</a></b><span>&nbsp;</span>of Joe Biden’s quotes using our instant book creator. As always, you don’t need to provide your name, your email address, or anything else to create your book. Just check the quotes you want and create your book. How simple!</li>
</ol>
<p><span class="subhead">Then What?</span><span></span></p>
<p><b>Assemble your book</b><span>&nbsp;in an attention-getting view binder. Slip your printed pages into inexpensive sheet-protectors for optimum portability.&nbsp;</span><b>Check out the links on the right</b><span>&nbsp;for our recommendations from Amazon.com.</span></p>
<p><b>Be prepared</b><span>&nbsp;by printing several copies of your favorite quotes, so you’ll have extras to share with friends, family, and colleagues.</span></p>
<p><b>Start the conversation</b><span>. Just set your&nbsp;</span><b>BidenWisdomBook.com book</b><span>&nbsp;out on your coffee table, conference table, kitchen table, or desk, and&nbsp;</span><i>watch what happens</i><span>.</span></p>
<p><b>For more suggestions</b><span>, check out “</span><a href="/Spread">Spread the Words</a><span>“.</span></p>

