@page "/Spread"

<PageTitle>Spread the Words</PageTitle>

<div class="headline">Spread the Words</div>
<div class="main">
  <p>It’s more important than ever to spread the words, wit, and wisdom of Joe Biden to your friends, family and colleagues. Here are just a few ideas to get you started.</p>
  <ul>
    <ul>
      <li><b>Assemble your book</b><span>&nbsp;</span>in an attention-getting view binder. Slip your printed pages into inexpensive sheet-protectors for optimum portability.<span>&nbsp;</span><b>Check out the links on the left</b><span>&nbsp;</span>for our recommendations from Amazon.com.</li>
    </ul>
  </ul>
  <ul>
    <ul>
      <li><b>Be prepared</b><span>&nbsp;</span>by printing several copies of your favorite quotes, so you’ll have extras to share with friends, family, and colleagues.</li>
    </ul>
  </ul>
  <ul>
    <ul>
      <li><b>Start the conversation</b>. Print 5 books: 1 for your<span>&nbsp;</span><b>coffee table</b>, 1 for your<span>&nbsp;</span><b>desk</b><span>&nbsp;</span>at work, 1 for your<span>&nbsp;</span><b>car, place of worship, or local business</b>, and<span>&nbsp;</span><b>2 for family or friends</b><span>&nbsp;</span>you believe should know Joe Biden in his own words.</li>
    </ul>
  </ul>
  <ul>
    <ul>
      <li><b>Tell a friend</b>. Send an email to friends, family, and colleagues and let them know about<span>&nbsp;</span><b>www.BidenWisdomBook.com</b>. We’ve even put together<span>&nbsp;</span><a>a sample email</a><span>&nbsp;</span>for you. Or, just use our simple<span>&nbsp;</span><a href="tellafriend.html" target="page" onclick="window.open(&#39;&#39;,&#39;page&#39;,&#39;toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=530,height=580,left=50,top=50,titlebar=yes&#39;)" rel="noopener">Tell a Friend</a><span>&nbsp;</span>tool.</li>
    </ul>
  </ul>
  <ul>
    <ul>
      <li><b>Pass it around</b>. Print some “calling cards” to pass out to people you meet along the way. We’ve created a couple different versions – or create your own!</li>
    </ul>
  </ul>
  <table border="0" cellpadding="10" cellspacing="0" width="60%">
    <tbody>
      <tr>
        <td width="50%" align="center" class="caption" valign="bottom">
          <p><img fetchpriority="high" decoding="async" src="./Spread the Words _ BidenWisdomBook_files/BusinessCard.png" width="200" height="350" alt="" border="0"><br><a href="https://web.archive.org/web/20090228065849/http://www.obamawisdombook.com/documents/BusinessCard.pdf" target="_blank" rel="noopener">Print It Yourself Version</a><br>(10 cards to a page for pre-perforated business card stock. Available from most office supply stores.)</p>
          <p><a href="documents/BusinessCard-HiRes.pdf" target="_blank" rel="noopener">High Resolution Version</a><br>(1 card, optimized for high-resolution laser or offset printing)</p>
        </td>
      </tr>
      <tr>
        <td width="50%" align="center" class="caption" valign="bottom">
          <p><img decoding="async" src="./Spread the Words _ BidenWisdomBook_files/BusinessCard2.png" width="350" height="200" alt="" border="0"><br><a href="https://web.archive.org/web/20090228065849/http://www.obamawisdombook.com/documents/BusinessCard2.pdf" target="_blank" rel="noopener">Print It Yourself Version</a><br>(10 cards to a page for pre-perforated business card stock. Available from most office supply stores.)</p>
          <p><a href="documents/BusinessCard2-HiRes.pdf" target="_blank" rel="noopener">High Resolution Version</a><br>(1 card, optimized for high-resolution laser or offset printing)</p>
        </td>
      </tr>
    </tbody>
  </table>
  <ul>
    <ul>
      <li><b>Print a Poster</b>. We’ve created a large-scale version of the book cover – visit your local FastSigns or the sign shop of your choice with the PDF below and they’ll whip it up for you.
        <div align="center"><a href="documents/BookCover_poster.pdf" target="_blank" rel="noopener">Download the 24×36 poster PDF</a></div>
      </li>
    </ul>
  </ul>
  <ul>
    <ul>
      <li><b>Contact the media</b>. Know someone at your local TV station? Went to school with someone who works at the paper? Get the word out to your community by pointing your news outlets to the<span>&nbsp;</span><b>www.BidenWisdomBook.com</b><span>&nbsp;</span><a href="Media">media page</a>.</li>
    </ul>
  </ul>
  <ul>
    <ul>
      <li><b>Become a Fan on Facebook</b>. Check out<span>&nbsp;</span><a href="http://www.facebook.com/pages/hartland-WI/Obama-Wisdom-Book/67272505234" target="_blank" rel="noopener">our brand new page on Facebook</a><span>&nbsp;</span>and become a fan – one more way to Spread the Words!</li>
    </ul>
  </ul>
  <ul>
    <li><b>Spread the words</b>. We can’t wait to see what else you come up with! Post a video on YouTube. Put some pictures up on Flickr. Add a button to your MySpace page. Write a poem on your blog. Whatever you do, we invite you to<span>&nbsp;</span><b>post your suggestions to<span>&nbsp;</span><a href="http://www.facebook.com/pages/hartland-WI/Obama-Wisdom-Book/67272505234" target="_blank" rel="noopener">our brand new page on Facebook</a></b>!</li>
  </ul>
</div>

<p><span class="subhead"><b>“What more can I do to help?” you ask?</b></span><span></span><span class="main"></span></p>
<p>The best thing you can do is print your book. Choose from<span>&nbsp;</span><a href="index.html">the full version</a><span>&nbsp;</span>(1 quote per page; 223 pages; 1.5MB),<span>&nbsp;</span><a href="documents/Top30.pdf">the “nutshell” version</a><span>&nbsp;</span>(multiple quotes per page; 15 pages; 1.1MB) or<span>&nbsp;</span><a href="find.html">your own custom book</a>.</p>
<p>Next,<span>&nbsp;</span><a href="spread.html">tell your friends</a>, family, classmates, and colleagues to print theirs.</p>
<p>Then, USE your books to start conversations, wherever and whenever you can, about why Barack Obama should be the next President of the United States.</p>
<p>Last, but surely not least,<span>&nbsp;</span><b><i>please contribute!!</i></b><span>&nbsp;</span><a href="support.html">Read more…</a><span>&nbsp;</span>…or just go ahead and…</p>
<p><input type="image" src="img/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"></p>
