@page "/Support"

<PageTitle>Support Us</PageTitle>

<div class="headline"><strong>Support Us</strong></div>
<br/>
<div class="subhead">There’s so much more to do!</div>
<div class="main">
  <p><span>We can’t tell you how anxious we are to keep this site updated with the latest quotes from our new President. But we can’t do it alone. Without financial support, there just is no way we can keep up with President-elect Biden’s amazing progress.</span></p>
  <p><span>That’s why we NEED your support. Whether it’s $5, $50, or $500, would you generously make a contribution and become part of the success of this idea, and this man, whose time has come?</span></p>
  <p><b>Let's finish the job!</b><span></span></p>
  <div align="center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="image" src="img/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><span>&nbsp;</span>
      <img loading="lazy" decoding="async" alt="" border="0" src="img/pixel.gif" width="1" height="1">
    </form>
  </div>
  <p><span>From the bottoms of our hearts, thank you.</span></p>
  <p><span>Yours in hope,</span><br><i>Eden, Jose, and Sarah</i><span></span></p>
  <p><b>Contributions can also be mailed payable to:<br>
  Holmquist Design Services, LLC</b><span></span><br>
  <span>2108A Silvernail Road #108</span><br>
  <span>Pewaukee, WI 53073</span><br>
  <span>(262) 446-9217</span></p>
</div>
